<br>
<h3>Data From Template-Driven Froms</h3>
<div class="template">
 <br>
    <div *ngFor="let user of Tdata">
        <p>FullName: {{user.fullname}}</p>
        <p>address line 1: {{user.add1}}</p>
        <p>address line 2: {{user.add2}}</p>

        <p>Zip: {{user.zip}}</p>
        <p>State: {{user.state}}</p>
        
    </div>
    <br>
</div>
<hr>
<br>
<h3>Data From Reactive Forms</h3>
<br>
    <div class="ractive">
    <div *ngFor="let user of Rdata">
        <p>First Name: {{user.firstname}}</p>
        <p>Last Name: {{user.lastname}}</p>
        <p>Email: {{user.email}}</p>
        <p>Birth Date: {{user.birth}}</p>
        <h4>Task Performed</h4>
        <div *ngFor="let list of user.task; let i = index ">
            <ul>
                <li>{{list}}</li>
            </ul>

        </div>
    </div>
</div>




