<h3 class="center">Please Fill the data</h3>
<div class="container">

    <form (ngSubmit)='onSubmit(f)' #f=ngForm>
        <div class="example-container">
            
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Full Name" class="fullname" #fullname="ngModel" name="fullname" type="text" [ngModel]="" required>
        </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field class="example-full-width">

            <input matInput placeholder="Address Line 1" name="add1" #add1="ngModel" type="text" [ngModel]="" required>
        </mat-form-field>

        </div>
        <div class="example-container">
            <mat-form-field class="example-full-width">

            <input matInput placeholder="Address Line 2" name="add2" #add2="ngModel" id="add2" type="text" [ngModel]="" required>
        </mat-form-field>

        </div>
        <div class="example-container ">
            <mat-form-field class="example-full-width">

            <input matInput placeholder="ZipCode" name="zip" id="zip" #zip="ngModel" type="text" [ngModel]="" required>
        </mat-form-field>

        </div>
        <div class="state">

            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select  name="state" [ngModel]="" #state="ngModel" required>
                <mat-option *ngFor="let state of states" [value]="state.value">
                  {{state.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        
        <hr>
        <button mat-button type="submit" color="primary" [disabled]="!f.valid">Submit</button>

    </form>
</div>